# ===== secrets =====
.env
.env.*
!/comfyui/.env.example

rclone.conf
*.json
.cloudflared/

# ===== runtime =====
logs/
*.log

# ===== ComfyUI data =====
ComfyUI/models/
ComfyUI/output/
ComfyUI/input/

# ===== python =====
__pycache__/
*.pyc
.ipynb_checkpoints/
